/* Colors */
$primary: #C3DAB7;
$secondary: #FFFFFF;
$third: #F6F6F6;
$baseFont: #333333;
$comment: #F1EFEF;
$blogColor: #999;
$lineColor: #666;

// $primaryColor: #FFF;
// $secondaryColor: #F6F6F6;
// $tertiaryColor: #C3DAB7;

// $footerColor: #333;
// $footerBorderColor: #484848;

$borderColor: #E1E1E1;

$blogReplyLink: #405E31;